<div class="jumbotron text-center">
	<h1>Glass-Cellar</h1>
	<p class="lead">A comprehensive tool to catalog your wine!</p>
	<div *ngIf="user">
	<h2 class="page-header">Welcome back {{user.username}}!</h2>
</div>
	<div>
		<a class="btn btn-primary" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/register']">Register</a> <a class="btn btn-default" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>1. Create an account</h3>
		<p>To get started simply click register, and fill out our registration form!</p>
	</div>
	<div class="col-md-4">
		<h3>2. Add Wines to your Cellar</h3>
		<p>Find your wines using our search bar, and add them to your cellar. Or find a wine you don't have, but would love to, and add it to your wishlist.</p>
	</div>
	<div class="col-md-4">
		<h3>3. Connect with your friends</h3>
		<p>Interested in finding out which friends you should invite to dinner? Search for your friends, or invite them to join you on Glass-Cellar!</p>
	</div>
</div>
